<div class="card">
  <div class="card-header text-center">
    Manutenção de Unidades de Saúde:
  </div>
  <div class="card-body">
    <div class="card-container">
      <div>
        <form [formGroup]="formUnidade" (ngSubmit)="onSubmit"  class="form-exemplo">
          <div style="display: none">
            <mat-form-field class="example-full-width">
              <mat-label>ID</mat-label>
              <input matInput  formControlName="id">
            </mat-form-field>
          </div>

          <mat-form-field class="example-full-width">
            <mat-label>NOME</mat-label>
            <input type="text" matInput placeholder="Ex. UPA Campinas" formControlName="nome"
                   [errorStateMatcher]="matcher"
                   required>

            <mat-error *ngIf="getControl.nome.hasError('nome') && !getControl.nome.hasError('required')">
              por favor entre com nome válido!
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>NÚMERO DE REGISTRO</mat-label>
            <input type="text" matInput placeholder="Ex: 999.999.999-9999"  [errorStateMatcher]="matcher"
                   mask="000.000.000-0000" required  formControlName="numeroRegistro">
            <mat-error *ngIf="getControl.numeroRegistro.hasError('numeroRegistro') && !getControl.numeroRegistro.hasError('required')">
              por favor entre com um número de registro válido!
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>RUA</mat-label>
            <input type="text" matInput placeholder="Ex. Rua SB" formControlName="rua"
                   [errorStateMatcher]="matcher"
                   required>

            <mat-error *ngIf="getControl.rua.hasError('rua') && !getControl.rua.hasError('required')">
              por favor entre com um nome de rua válido!
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>SETOR</mat-label>
            <input type="text" matInput placeholder="Ex. Campinas" formControlName="setor"
                   [errorStateMatcher]="matcher"
                   required>

            <mat-error *ngIf="getControl.setor.hasError('setor') && !getControl.setor.hasError('required')">
              por favor entre com um nome de setor válido!
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>CEP</mat-label>
            <input type="text" matInput placeholder="Ex: 999.999-99"  [errorStateMatcher]="matcher"
                   mask="000.000-00" required  formControlName="cep">
            <mat-error *ngIf="getControl.cep.hasError('cep') && !getControl.cep.hasError('required')">
              por favor entre com um CEP válido!
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>COMPLEMENTO</mat-label>
            <input type="text" matInput placeholder="Ex. Próxmo ao Supermecado LD" formControlName="complemento"
                   [errorStateMatcher]="matcher"
                   required>

            <mat-error *ngIf="getControl.complemento.hasError('complemento') && !getControl.complemento.hasError('required')">
              por favor entre com um complemento válido!
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>PAIS</mat-label>
            <input type="text" matInput placeholder="Ex. Brasil" formControlName="pais"
                   [errorStateMatcher]="matcher"
                   required>

            <mat-error *ngIf="getControl.pais.hasError('pais') && !getControl.pais.hasError('required')">
              por favor entre com um nome de Pais válido!
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>ESTADO</mat-label>
            <input type="text" matInput placeholder="Ex. Goías" formControlName="estado"
                   [errorStateMatcher]="matcher"
                   required>

            <mat-error *ngIf="getControl.estado.hasError('estado') && !getControl.estado.hasError('required')">
              por favor entre com um nome de Estado válido!
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>CIDADE</mat-label>
            <input type="text" matInput placeholder="Ex. Goiânia" formControlName="cidade"
                   [errorStateMatcher]="matcher"
                   required>

            <mat-error *ngIf="getControl.cidade.hasError('cidade') && !getControl.cidade.hasError('required')">
              por favor entre com um nome de Cidade válido!
            </mat-error>
          </mat-form-field>

          <hr>

          <button style="margin-right: 5px" mat-raised-button type="submit" (click)="onSubmit()" color="primary"> Salvar </button>
          <button mat-raised-button type="button" (click)="voltar()" color="default"> Voltar </button>

        </form>
      </div>

    </div>

  </div>

</div>

